body {
	background-image: url(/style/bg_image.png);
	background-position: top center;
}

div.pic1, div.pic6, div.pic12, div.pic18 {
	z-index: 1;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
}

div.pic2, div.pic5, div.pic8, div.pic11, div.pic13, div.pic16, div.pic19 {
	z-index: 5;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
}

div.pic3, div.pic7, div.pic15, div.pic20 {
	z-index: 5;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}



