body {
	background-image: url(/style/bg_image.png);
	background-position: top center;
}

div.pic1 {
	z-index: 1;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
}

div.pic2 {
	z-index: 2;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
}

div.pic3 {
	z-index: 3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}

div.pic4 {
	z-index: 4;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

body {
	font: 12px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif; 
	background-color: transparent; 
	color: #192025; 
	-webkit-font-smoothing: antialiased;
}


